<mat-card class="apartment">
  <mat-card-title>
    <mat-card-subtitle>{{apartment.guest?.name}} {{apartment.guest?.family}}</mat-card-subtitle>
    <span class="badge" [ngClass]="apartment.status">{{apartment.id}}</span>
  </mat-card-title>


  <mat-card-content>
    <mat-form-field class="" *ngIf="apartment.dates">
      <mat-label color="primary">Настаняване</mat-label>
      <input matInput readonly="readonly"
             value="{{apartment.dates?.start | date:'E, d MMM yy H:mm': undefined:'bg-BG'}}">
    </mat-form-field>
    <mat-form-field class="" *ngIf="apartment.dates">
      <mat-label>Напускане</mat-label>
      <input matInput readonly="readonly" value="{{apartment.dates?.end | date:'E, d MMM yy H:mm': undefined:'bg-BG'}}">
    </mat-form-field>

  </mat-card-content>
</mat-card>
