<section id="guests-container">
  <mat-card class="guests" *ngFor="let guest of guests; let first = first; let index = index;">
    <mat-card-header>Гост</mat-card-header>

    <mat-card-content>
      <mat-form-field class="guest">
        <mat-label>Име</mat-label>
        <input matInput value="{{guest.name}}" label="name"/>
      </mat-form-field>
      <mat-form-field class="guest">
        <mat-label>Фамилия</mat-label>
        <input matInput value="{{guest.family}}" label="family"/>
      </mat-form-field>
    </mat-card-content>

    <mat-card-footer>
      <button *ngIf="!first" mat-button (click)="removeGuest(index)">
        <mat-icon color="warn">remove</mat-icon>
        премахни
      </button>
    </mat-card-footer>
  </mat-card>
</section>

<button mat-button (click)="addGuest()">
  <mat-icon color="primary">add</mat-icon>
</button>
