<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="apartmentAndDates">
    <ng-template matStepLabel>Дати и апартамент</ng-template>
    <app-apartment-dates></app-apartment-dates>
  </mat-step>
  <mat-step>

    <form>
      <ng-template matStepLabel>Гости</ng-template>
      <app-guests></app-guests>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Плащане</ng-template>
    <app-payment></app-payment>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Екстра</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>





