<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Дати и апартамент</ng-template>
    <app-apartment-dates></app-apartment-dates>
  </mat-step>
  <mat-step>

    <form>
      <ng-template matStepLabel>Гости</ng-template>
      <app-guests></app-guests>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Плащане</ng-template>
    <app-payment></app-payment>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Екстра</ng-template>
    <app-extra></app-extra>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Apartment: {{reservationService.apartment}}</p>
    <p>Arrival: {{reservationService.arrival | date:'E, d MMM yy H:mm': undefined:'bg-BG'}}</p>
    <p>Check In: {{reservationService.checkIn | date:'E, d MMM yy H:mm': undefined:'bg-BG'}}</p>
    <p>Check out: {{reservationService.checkOut | date:'E, d MMM yy H:mm': undefined:'bg-BG'}}</p>
    <p *ngFor="let guest in reservationService.guests">Guest: {{guest.name}} {{guest.family}}</p>
    <p>Paid: {{reservationService.payment.paid}}</p>
    <p>Payment Type: {{reservationService.payment.type}}</p>
    <p>Who: {{reservationService.who}}</p>
    <p>Extra: {{reservationService.extra}}</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>





