.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.guest {
  width: 50%;
  display: block;
}

#guests-container {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.guests {
  width: 45%;
  margin-bottom: 5px;
  display: inline-block;
}

.guests mat-card-content {
  padding: 5px 5px 5px 10%;
}
