#guests-container {
  padding: 2em 0 2em 5em;
}

#guests {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.guests {
  width: 60%;
  margin-bottom: 0.5em;
}

.guests mat-card-header div {
  margin-left: 30px;
}

.name {
  margin-left: 30px;
  width: 40%;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
}

.add {
  position: absolute;
  top: 0;
  left: 0;
}



